<div
  class="page-container"
  [ngClass]="{ 'light-mode': !darkMode, 'dark-mode': darkMode }">
  <nav class="top-nav">
    <div class="centered-text">
      <h3>This That App</h3>
    </div>
    <div class="right-aligned">
      <button class="color-toggle" (click)="toggleColorScheme()">
        <i *ngIf="darkMode" class="fas fa-sun"> Toggle Light Mode</i>
        <i *ngIf="!darkMode" class="fas fa-moon"> Toggle Dark Mode</i>
      </button>
    </div>
  </nav>

  <div class="container">
    <h1>Marvel Character List</h1>
    <div class="autosuggest-container" [formGroup]="form">
      <input
        type="text"
        placeholder="Enter the character's name"
        [formControlName]="INPUT"
        class="autosuggest-input" />
      <ul class="autosuggest-list" *ngIf="showSuggestions">
        <li
          *ngFor="let character of filteredCharacters"
          (click)="selectCharacter(character)"
          class="autosuggest-item">
          {{ character.name }}
        </li>
      </ul>
    </div>
  </div>
</div>
